freetype-py
gym
numpy
pandas
pyarrow==6.0.1
pygame
pynput
stable-baselines==2.10.2
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0 # Optional
moderngl
pyrr